.featured-section-container {
    margin-top: 1rem;
    padding-inline: 2rem;
}

.featured-section {
    max-width: 888px;
    width: 100%;
}

.featured-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-title {
    font-size: var(--sub-title-font-size);
    font-family: var(--main-heading);
}

.featured-content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.cta-mobile {
    display: none;
}

@media screen and (max-width: 920px) {

    .featured-content {
        margin-top: 3rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .featured-heading {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .featured-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-heading {
        width: 100%;
    }

    .cta-desktop {
        display: none;
    }

    .cta-mobile {
        display: block;
        margin-inline: auto;
    }

    .featured-title {
        font-size: 36px;
        font-family: var(--main-heading);
    }
}