.hero-section-container {
  background-color: var(--secondary);
  height: 406px;
  padding-inline: 2rem;
}

.hero-section {
  padding-block: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  max-width: 888px;
}

.hero-image-container {
  position: relative;
  display: flex;
  justify-content: end;
}

.hero-image-wrapper {
  position: absolute;
  width: 375px;
  height: 475px;
  border-radius: 16px;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
}

.hero-title {
  color: var(--primary);
  font-family: var(--main-heading);
  font-size: var(--heading-font-size);
}

.hero-subtitle {
  color: white;
  font-family: var(--main-heading);
  font-size: var(--sub-title-font-size);
}

.hero-text {
  margin-top: 1rem;
  color: white;
  font-family: var(--font);
  font-size: var(--lead-text-font-size);
  padding-right: 8rem;
}


@media screen and (max-width: 800px) {
  .hero-section-container {
    height: 800px;
  }

  .hero-section {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  hero-image-container {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .hero-image-wrapper {
    margin-inline: auto;
    position: static;
    width: 375px;
    height: 475px;
    border-radius: 16px;
  }

  .hero-text-container {
    align-items: baseline;
    justify-content: center;
  }
}