nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--lead-text-font-size);
  font-weight: 400;
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 888px;
  padding-block: 0.5rem;
  gap: 4rem;
}

.nav-link-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-link-group li {
  list-style-type: none;
}

.nav-link-group li a {
  text-decoration: none;
  color: var(--dark);
}

.nav-link-group li a:hover {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}
