@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --heading-font-size: 64px;
  --heading-font-weight: bold;
  --sub-title-font-size: 40px;
  --sub-title-font-weight: normal;
  --lead-text-font-size: 18px;
  --lead-text-font-weight: 600;
  --card-title-font-size: 16px;
  --card-title-font-weight: 600;
  --main-heading: "Markazi Text", sans-serif;
  --font: "Karla", sans-serif;
  --primary: #F4CE14;
  --secondary: #495E57;
  --gray: #EDEFEE;
  --dark: #333333;
  --secondary-one: #EE9972;
  --secondary-two: #FBDABB;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--font);
}

p {
  line-height: 24px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cta {
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  margin-top: 2rem;
  background-color: var(--primary);
  font-size: var(--lead-text-font-size);
  font-weight: var(--lead-text-font-weight);
  cursor: pointer;
}
